<div class="row">
  <div class="col s3 tooltipped" *ngIf="ifTagsContain(0)"
  	data-position="top" data-delay="50" data-tooltip="Pesce crudo">
    <img src="../../../../images/tag/ico-crudo.png">
  </div>
  <div class="col s3 tooltipped" *ngIf="ifTagsContain(1)"
  	data-position="top" data-delay="50" data-tooltip="Pesce cotto">
    <img src="../../../../images/tag/ico-cotto.png">
  </div>
  <div class="col s3 tooltipped" *ngIf="ifTagsContain(2)"
  	data-position="top" data-delay="50" data-tooltip="Piccante">
    <img src="../../../../images/tag/ico-spicy.png">
  </div>
  <div class="col s3 tooltipped" *ngIf="ifTagsContain(3)"
  	data-position="top" data-delay="50" data-tooltip="Vegetariano">
    <img src="../../../../images/tag/ico-vegetariano.png">
  </div>
  <div class="col s3 tooltipped" *ngIf="ifTagsContain(4)"
  	data-position="top" data-delay="50" data-tooltip="Senza glutine">
    <img src="../../../../images/tag/ico-gluten.png">
  </div>
</div>